*{
	margin: 0;
	padding-right: 0;
}
body{
	box-sizing: border-box;
}
.content{
	border: 1px solid #ddd;
	padding: 20px;
	display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box1{
	width: 150px;
	height: 200px;
	border: 2px solid #0f0;
	-webkit-order: 4;
            order: 4;
}
.box2{
	width: 150px;
	height: 120px;
	border: 2px solid #f00;
	-webkit-order: 1;
			order: 1;
}
.box3{
	width: 150px;
	height: 100px;
	border: 2px solid #f00;
	-webkit-order: 2;
			order: 2;
}
.box4{
	width: 150px;
	height: 40px;
	border: 2px solid #f00;
	-webkit-order: 3;
			order: 3;
}

 @media screen and (max-width: 640px) {
 	.content{
 		flex-wrap: wrap;
 		align-items: flex-start;
 	}

 	.box1{
 		margin-bottom: 20px;
 		-webkit-order: 1;
				order: 1;
 	}
 	.box2{
 		-webkit-order: 2;
				order: 2;
 	}
 	.box3{
 		-webkit-order: 3;
				order: 3;
 	}
 	.box4{
 		-webkit-order: 4;
				order: 4;
 	}
 }