*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	padding: 20px;
	font-family: "微软雅黑";
}
.clear{
	clear: both;
}
.content{
	background-color: #eee;
}
.content,.left,.center,.right{
	border: 1px solid #999;
	padding: 20px;
}
.left{
	float: left;
	width: 200px;
	background-color: #fff;
}
.left img{
	float: left;
	width: 80px;
	height: 80px;
	
}
.team{
	float: left;
	font-size: 20px;
	margin-left: 5px;
}
.center{
	margin-left: 220px;
	margin-right: 140px;
	background-color: #fff;
}
.center p{
	margin-top: 18px;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 18px;
}

.right{
	float: right;
	width: 120px;
	background-color: #fff;
}
.right ul li{
	float: left;
}
.right ul li img{
	width: 80px;
	height: 80px;
	margin-bottom: 20px;
	border: 1px solid #999; 
}
.right ul li:nth-child(4) img{
	margin-bottom: 0px;
}